<div class="top-row pl-4 navbar navbar-dark">
    <img src="logo.png" style="display: block; margin-left: auto; margin-right: auto">
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Prefeituras
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="PrefeiturasAtualizadas" Match="NavLinkMatch.All">
                <span class="oi oi-check" aria-hidden="true"></span> Atualizadas
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="PrefeiturasAtualizadas24hrs" Match="NavLinkMatch.All">
                <span class="oi oi-clock" aria-hidden="true"></span> Últimas 24 Hrs
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="PrefeiturasDesatualizadas" Match="NavLinkMatch.All">
                <span class="oi oi-warning" aria-hidden="true"></span> Desatualizadas
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="PrefeiturasDesatualizadasMaisDeUmaSemana" Match="NavLinkMatch.All">
                <span class="oi oi-x" aria-hidden="true"></span> Mais de uma semana
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="teste" Match="NavLinkMatch.All">
                <span class="oi oi-file" aria-hidden="true"></span> Notas Fiscais
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="teste" Match="NavLinkMatch.All">
                <span class="oi oi-people" aria-hidden="true"></span> Pessoas
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="teste" Match="NavLinkMatch.All">
                <span class="oi oi-briefcase" aria-hidden="true"></span> Empresas
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Logs" Match="NavLinkMatch.All">
                <span class="oi oi-terminal" aria-hidden="true"></span> Logs
            </NavLink>
        </li>
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="Configuracoes" Match="NavLinkMatch.All">
                <span class="oi oi-cog" aria-hidden="true"></span> Configurações
            </NavLink>
        </li>*@
    </ul>
</div>

@code {
	private bool collapseNavMenu = true;

	private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
