<div class="top-row pl-4 navbar navbar-dark">
    <img src="logo.png" style="display: block; margin-left: auto; margin-right: auto">
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=> expandSubMenuEstatistica = !expandSubMenuEstatistica">
                <span class="oi oi-pie-chart" aria-hidden="true"></span> Estatística
            </NavLink>
            @if (expandSubMenuEstatistica)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="EmissaoNFE" Match="NavLinkMatch.All">
                            <span class="oi oi-graph" aria-hidden="true"></span> Emissão de NF-e
                        </NavLink>
                    </li>
                </ul>
            }
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=> expandSubMenuReplicacao = !expandSubMenuReplicacao">
                <span class="oi oi-loop-circular" aria-hidden="true"></span> Sincronização
            </NavLink>
            @if (expandSubMenuReplicacao)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> Prefeituras
                        </NavLink>
                    </li>
                    @*<li class="nav-item px-3">
                        <NavLink class="nav-link" href="PrefeiturasAtualizadas" Match="NavLinkMatch.All">
                            <span class="oi oi-check" aria-hidden="true"></span> Atualizadas
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="PrefeiturasAtualizadas24hrs" Match="NavLinkMatch.All">
                            <span class="oi oi-clock" aria-hidden="true"></span> Últimas 24 Hrs
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="PrefeiturasDesatualizadas" Match="NavLinkMatch.All">
                            <span class="oi oi-warning" aria-hidden="true"></span> Desatualizadas
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="PrefeiturasDesatualizadasMaisDeUmaSemana" Match="NavLinkMatch.All">
                            <span class="oi oi-x" aria-hidden="true"></span> Mais de 7 dias
                        </NavLink>
                    </li>*@
                </ul>
            }
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=> expandSubMenuSincronizacao = !expandSubMenuSincronizacao">
                <span class="oi oi-transfer" aria-hidden="true"></span> Replicação
            </NavLink>
            @if (expandSubMenuSincronizacao)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="NotasFiscais" Match="NavLinkMatch.All">
                            <span class="oi oi-file" aria-hidden="true"></span> Notas Fiscais
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="Pessoas" Match="NavLinkMatch.All">
                            <span class="oi oi-people" aria-hidden="true"></span> Pessoas
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="Empresas" Match="NavLinkMatch.All">
                            <span class="oi oi-briefcase" aria-hidden="true"></span> Empresas
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="Logs" Match="NavLinkMatch.All">
                            <span class="oi oi-terminal" aria-hidden="true"></span> Logs
                        </NavLink>
                    </li>
                </ul>
            }
        </li>
    </ul>
</div>
<div style="position: absolute; bottom: 10px; width: 100%; display: flex; align-items: center; color: #d7d7d7">
    <span type="text" id="rel" style="text-align: center; width: 100%; font-size: 1.5rem"></span>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool expandSubMenuReplicacao;
    private bool expandSubMenuEstatistica;
    private bool expandSubMenuSincronizacao;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
