@page "/PrefeiturasAtualizadas"

@inject HttpClient http
@using Model
@using Interfaces
@inject IPrefeituraServico PrefeituraServico
@inject IGraficoServico GraficoServico
@inject NavigationManager uriHelper;
@using System.Threading;

@if (prefeituras == null)
{
    <div class="loading">
        <img src="imgLoading.png" style="display: block; margin-left: auto; margin-right: auto">
        <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="margin-bottom: 20px; align-self: center;" />
        <h3 style=" align-self: center;">Aguarde até carregar todos os dados.</h3>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h5 class="card-header">Lista de Prefeituras</h5>
                <div class="card-body">
                    <RadzenDataGrid Data=@filtro FilterMode="FilterMode.Simple" AllowFiltering="true" AllowPaging="true" AllowSorting="true" TItem="Prefeitura" Style="margin-bottom: 50px;">
                        <Columns>
                            <RadzenDataGridColumn TItem="Prefeitura" Property="id" Title="ID">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Prefeitura" Property="nomePrefeitura" Title="Nome da Prefeitura" />
                            <RadzenDataGridColumn TItem="Prefeitura" Property="ultimaAtualizacao" Title="Última Atualização">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Prefeitura" Property="situacao" Title="Situação da Prefeitura" />
                        </Columns>
                    </RadzenDataGrid>
                </div>
            </div>
        </div>
    </div>
}

@code {

    IEnumerable<Prefeitura> filtro;

    private IEnumerable<Prefeitura> prefeituras;

    protected override async Task OnInitializedAsync()
    {

        try
        {
            prefeituras = await PrefeituraServico.TodasPrefeituras();
                
            @foreach (var item in prefeituras)
            {
                if (item.situacao == "1")
                {
                    filtro = prefeituras;
                }
            }
        }
        catch (Exception e)
        {
            throw;
        }
    }
}

@*http://www.macoratti.net/20/07/blz_awebapi1.htm tutorial utilizado para consumir api*@
@*https://www.bootdey.com/snippets/view/Gradients-dashboard-cards#css componente do card*@
@*https://blazor.radzen.com/dashboard outros componentes*@
@*https://useiconic.com/open icones utilizados*@
@*https://www.nicesnippets.com/snippet/admin-panel-dashboard-card-design-usign-html-and-css cards*@